<header>
  <nav>
    <ul style="list-style: none;  display: flex; padding: 0">
      <li style="padding: 10">
        <a style="text-decoration: none; color: white;" href="/">Home</a>
      </li>
      <li style="padding: 10">
        <a style="text-decoration: none;  color: white;" href="/topRated">Top Rated</a>
      </li>
      <li style="padding: 10">
        <a style="text-decoration: none;  color: white;" href="/moviePage">Random Movie</a>
      </li>
      <li style="padding: 10">
        <a style="text-decoration: none;  color: white;" href="/upcomingMovies"
          >Upcoming Movies</a
        >
      </li>
    </ul>
  </nav>
</header>
