<section>
    <h2>Explore Movies</h2>
    <% randomNineMoviesArray.forEach((element)=>{%>
        <ul style="padding-bottom: 20px; padding-top: 5px; background-color: rgb(47, 47, 91); border-radius: 10px; box-shadow: 5px 5px 5px rgba(27, 27, 27, 0.463);">
            <h3><%= element.title%></h3>
            <li><%= element.releaseYear%></li>
            <li style="width: 80%;"><%= element.description%></li>
        </ul>
   <% })%>
</section>