<html lang="en">
  <head>
    <title>Movie Gallery</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <%- include('header') %>
    <main class="main-layout">
      <h1>Movie Gallery</h1>
      <%- include('homePage') %>
    </main>
  </body>
</html>
